[submodule "TempTake-Manager"]
	path = TempTake-Manager
	url = https://github.com/muffindud/TempTake-Manager
[submodule "TempTake-Worker"]
	path = TempTake-Worker
	url = https://github.com/muffindud/TempTake-Worker
[submodule "TempTake-MQTT"]
	path = TempTake-MQTT
	url = https://github.com/muffindud/TempTake-MQTT
